In [22]:
import pandas as pd

In [23]:
# Set file path
file = ("Resources/purchase_data.csv")
df = pd.read_csv(file, encoding="latin1")

In [24]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
# PURCHASING ANALYSIS

# Total Number of unique players
user_count = len(df.groupby(["SN"]))
user_count

# Purchasing Analysis
unique_items = len(df.groupby(["Item Name"]))
unique_items

# average purchase price
avg_price = df["Price"].mean()
avg_price

# Total purchases
tot_purchases = df["Purchase ID"].count()
tot_purchases

# Total Revenue
total_revenue = df["Price"].sum()
total_revenue

576

In [35]:
# GENDER DEMOGRAPHICS

# Percentage and Count of Male Players 484
male_count = df.loc[df["Gender"]=="Male",:]
male_count2 = len(df.groupby(["male_count"]))

# Percentage and Count of Female Players

# Percentage and Count of Other / Non-Disclosed

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

3.050987179487176