In [1]:
import pandas as pd

In [2]:
# Set file path
file = ("Resources/purchase_data.csv")
df = pd.read_csv(file, encoding="latin1")

In [3]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# PLAYER COUNT

# Total Number of unique players
user_count = len(df.groupby(["SN"]))
pd.DataFrame({'Total Players': [user_count]})

#Done

   Total Players
0            576

In [5]:
# PURCHASING ANALYSIS

# Number of unique items
unique_items =  len(df.groupby(["Item Name"]))

# average purchase price
avg_purchases = df["Price"].mean()
currency_string = "${:,.2f}".format(avg_purchases)

# Total purchases
purchase_count = df["Purchase ID"].count()


# Total Revenue
total_purchases = df["Price"].sum()
total_purchases_curr = "${:,.2f}".format(total_purchases)




df_pa = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average price': [currency_string],
    'Number of Purchases': [purchase_count],
    'Total Revenue': [total_purchases_curr]
})

df_pa

# Done

   Number of Unique Items Average price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
df.nunique(axis=0)
# can be deleted

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        179
Item Name      179
Price          145
dtype: int64

In [7]:
df_gender = df.groupby(["Gender"])
df_gender = df_gender.agg({"SN":"nunique"})
df_gender = df_gender.reset_index()
df_gender=df_gender.rename(columns={"SN":"Total Count"})

# df_gender.count()
print(df_gender)

                  Gender  Total Count
0                 Female           81
1                   Male          484
2  Other / Non-Disclosed           11

In [8]:
gender_df = pd.DataFrame(df_gender)

gender_df

                  Gender  Total Count
0                 Female           81
1                   Male          484
2  Other / Non-Disclosed           11

In [9]:
gender_df["Percentage of Players"] = (gender_df["Total Count"]/user_count)*100
gender_df_sorted = gender_df.sort_values(["Percentage of Players"], ascending=False)
gender_df_sorted["Percentage of Players"]=gender_df_sorted["Percentage of Players"].map("{:.2f}%".format)

gender_df_sorted

                  Gender  Total Count Percentage of Players
1                   Male          484                84.03%
0                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [10]:
# Purchasing Analysis (Gender)
purch = df.groupby(["Gender"])
purch = purch.agg({"Purchase ID":"count", "Price": "sum", "SN":"nunique"})
purch["Average Purchase Price"] = purch["Price"]/purch["Purchase ID"]
purch["Avg Total Purchase per Person"] = purch["Price"]/purch["SN"]
purch=purch.rename(columns={"Price":"Total Purchase Value", "Purchase ID": "Purchase Count"})
del purch["SN"]
purch_df = pd.DataFrame(purch)
purch_df["Total Purchase Value"]=purch["Total Purchase Value"].map("${:.2f}".format)
purch_df["Average Purchase Price"]=purch["Average Purchase Price"].map("${:.2f}".format)
purch_df["Avg Total Purchase per Person"]=purch["Avg Total Purchase per Person"].map("${:.2f}".format)
purch_reord = purch_df[['Purchase Count', 'Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person']]
purch_reord

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
df.nunique(axis=0)

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        179
Item Name      179
Price          145
Age Group        8
dtype: int64

In [22]:
# AGE DEMOGRAPHICS

bins = [0,9,14,19,24,29,34,39,100]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39", "40+"]

df["Age Group"] = pd.cut(df["Age"], bins, labels=group_names)
df_age = df.groupby("Age Group")
df_age = df_age.agg({"SN":"nunique"})
df_age = df_age.reset_index()
df_age=df_age.rename(columns={"SN":"Total Count"})

print(df_age)

  Age Group  Total Count
0       <10           17
1     10-14           22
2     15-19          107
3     20-24          258
4     25-29           77
5     30-34           52
6     35-39           31
7       40+           12

In [26]:
age_df = pd.DataFrame(df_age)
age_df["Percentage of Players"] = (age_df["Total Count"]/user_count)*100
age_df["Percentage of Players"]=age_df["Percentage of Players"].map("{:.2f}%".format)
age_df

  Age Group  Total Count Percentage of Players
0       <10           17                 2.95%
1     10-14           22                 3.82%
2     15-19          107                18.58%
3     20-24          258                44.79%
4     25-29           77                13.37%
5     30-34           52                 9.03%
6     35-39           31                 5.38%
7       40+           12                 2.08%

In [30]:
# Purchasing Analysis (Age)

df["Age Group"] = pd.cut(df["Age"], bins, labels=group_names)
df_purch_an = df.groupby("Age Group")
df_purch_an = df_purch_an.agg({"Purchase ID":"count", "Price": "sum", "SN":"nunique"})
df_purch_an["Average Purchase Price"] = df_purch_an["Price"]/df_purch_an["Purchase ID"]
df_purch_an["Avg Total Purchase per Person"] = df_purch_an["Price"]/df_purch_an["SN"]
df_purch_an=df_purch_an.rename(columns={"Price":"Total Purchase Value", "Purchase ID": "Purchase Count"})
purch_analysis = pd.DataFrame(df_purch_an)

# Clean and format
del purch_analysis["SN"]
purch_analysis["Total Purchase Value"]=purch_analysis["Total Purchase Value"].map("${:.2f}".format)
purch_analysis["Average Purchase Price"]=purch_analysis["Average Purchase Price"].map("${:.2f}".format)
purch_analysis["Avg Total Purchase per Person"]=purch_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
purch_age_reord = purch_analysis[['Purchase Count', 'Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person']]
purch_age_reord

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [38]:
# Top Spenders


df_topspender = df.groupby("SN")
df_topspender = df_topspender.agg({"Purchase ID":"count", "Price": "sum", "SN":"nunique"})
df_topspender["Average Purchase Price"] = df_topspender["Price"]/df_topspender["Purchase ID"]
df_topspender=df_topspender.rename(columns={"Price":"Total Purchase Value", "Purchase ID": "Purchase Count"})
df_topspender = df_topspender.sort_values(["Total Purchase Value"], ascending=False)
del df_topspender["SN"]
topspender = pd.DataFrame(df_topspender)


topspender["Total Purchase Value"]=topspender["Total Purchase Value"].map("${:.2f}".format)
topspender["Average Purchase Price"]=topspender["Average Purchase Price"].map("${:.2f}".format)
topspender = topspender[['Purchase Count', 'Average Purchase Price','Total Purchase Value']]


topspender.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10