In [22]:
import pandas as pd

In [23]:
# Set file path
file = ("Resources/purchase_data.csv")
df = pd.read_csv(file, encoding="latin1")

In [24]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
# PURCHASING ANALYSIS

# Total Number of unique players
user_count = len(df.groupby(["SN"]))
user_count

# Purchasing Analysis
unique_items = len(df.groupby(["Item Name"]))
unique_items

# average purchase price
avg_price = df["Price"].mean()
avg_price

# Total purchases
tot_purchases = df["Purchase ID"].count()
tot_purchases

# Total Revenue
total_revenue = df["Price"].sum()
total_revenue

576

2379.77

3.050987179487176